.campaign-details {
  background-color: #e0eaf4; /* Light blue background */
  border: 1px solid #b3c6e0; /* Blue border */
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}

.assigned-clients {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Add space between each client */
}

/* Client Task Card - Entire div is clickable */
.client-task {
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row; /* Stack horizontally */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.client-task:hover {
  background-color: #f0f4f8; /* Change background on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



p {
  margin-bottom: 8px;
  color: #555;
}

strong {
  color: #333;
}








h1 {
  font-size: 2rem;
  color: #2C3E50;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3px;
}

.campaign-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}



.campaign-card p {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.campaign-card .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #ecf0f1;
  padding-top: 10px;
}

.stats div {
  text-align: center;
}

.stats div p {
  margin: 0;
  font-size: 0.85rem;
  color: #2c3e50;
}

.stats div span {
  font-size: 1.1rem;
  font-weight: 600;
}



/* Button Styling */
.btn {

  margin-top: 10px;
 
}







.actions {
  margin-top: 10px;
}
