/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // app/assets/stylesheets/application.scss

@import "bootstrap";
// Import config variables
@import 'config/colors';
@import 'config/fonts';

// Import components
@import 'components/index';

// Import pages
@import 'pages/dashboard';
@import 'pages/index';
@import 'pages/send_message';



body {
  
    background-color: #E5ECF6; // Light blue background
    font-family: 'Arial', sans-serif; // Match the font
    margin: 0;
    padding: 0;
  }
  


  label {
    font-weight: bold;
    font-size: 1rem;
  }
  
  input, select, textarea {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: px;
    padding: 8px;
    width: 100%;
  }
  

  
  .navbar {
    background-color: #333;
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
    text-align: center;
  }
  
  



